<%= form_for resource, as: resource_name, :url => update_user_confirmation_path, :html => {:method => 'patch'}, :id => 'activation-form' do |f| %>
  <h2>Account Activation for <%= resource.email %> </h2>
  <div class="modal-body devise-form">
    <%= devise_error_messages! %>
    <%= f.text_field :first_name, placeholder: "First Name" %>
    <% if @requires_password %>
      <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
      <%= f.password_field :password_confirmation, placeholder: "Password confirmation", autocomplete: "off" %>
    <% end %>
    <%= hidden_field_tag :confirmation_token,@confirmation_token %>
  </div>
  <%#= render "users/shared/links" %>
  <div class="modal-footer">
    <p class="pull-left">
    </p>
    <%= f.submit "Activate your Account", class: 'btn btn-primary' %>
  </div>
<% end %>