<%= provide(:title, "DailyMood Dashboard" ) %>

<div class="panel panel-default">
  <div class="panel-heading">Global Average Today</div>
  <div class="panel-body">
    <div class="mood">
      <svg id="smiley" version="1.1" xmlns="http://www.w3.org/2000/svg" height="100" width="100">
      </svg>
      <script>smiley("#smiley", <%= @global_mood %>);</script>
      <legend>Today</legend>
    </div>
  </div>
</div>

<%= render partial: "graph" %>

<ul class="moods">
  <% @moods.each do |mood| %>
    <li>
      <%= "#{mood.created_at.strftime("%d/%m/%Y")}: #{mood.human_name}" %>
      <%= image_tag mood.icon, style: "width:25px" %>
    </li>
  <% end %>
</ul>