<%= form_for(setup_user(resource), as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="modal-body devise-form">
    <%= devise_error_messages! %>
    <%= f.fields_for :moods do |g| %>
      <div class="btn-group" data-toggle="buttons">
        <label for="first" class="btn btn-danger">
          <%= g.radio_button :value, "1", :id=>"first", :style=>"display:none;", type: "radio" %>
          Bad
        </label>
        <label for="second" class="btn btn-primary">
          <%= g.radio_button :value, "2", :id=>"second", :style=>"display:none;", type: "radio"  %>
          Normal
        </label>
        <label for="third" class="btn btn-success">
          <%= g.radio_button :value, "3", :id=>"third", :style=>"display:none;", type: "radio"  %>
          Good
        </label>
      </div>
    <% end %>
    <%= f.email_field :email, placeholder: "Email address", autofocus: true %>
    <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
    <%= f.password_field :password_confirmation, placeholder: "Password confirmation", autocomplete: "off" %>
  </div>
  <%#= render "users/shared/links" %>
  <div class="modal-footer">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>